/* Global Styles */
html.dark {
  --bg-color: #333;
  --header-bg-color: #2b2b2b;
  --menu-bg-color: #1a1a1a;
  --main-bg-color: #2b2b2b;
  --footer-bg-color: #2b2b2b;
  --menu-projects-bg-color: #2b2b2b;
  --modal-bg-color: #2b2b2b;
  --modal-screen-bg-color: rgba(0, 0, 0, 0.7);
  --task-bg-color: #2b2b2b;
  --task-bg-color-hover: #1a1a1a;
  --project-bg-color: #2b2b2b;
  --project-bg-color-hover: #1a1a1a;
  --note-bg-color: #2b2b2b;
  --note-bg-color-hover: #1a1a1a;
  --checklist-bg-color: #2b2b2b;
  --checklist-bg-color-hover: #1a1a1a;
  --description-bg-color: #2b2b2b;
  --description-bg-color-hover: #1a1a1a;
  --secondary-bg-color: #cecece;
  --text-color: #e0e0e0;
  --inverted-text-color: #1a1a1a;
  --menu-text-color: #e0e0e0;
  --faded-text-color: #b3b3b3;
  --inverted-svg-color: invert(0%) sepia(1%) saturate(3%) hue-rotate(326deg) brightness(97%) contrast(104%);
  --svg-color: invert(100%) sepia(37%) saturate(1%) hue-rotate(290deg) brightness(112%) contrast(101%);
  --svg-hover-color: invert(42%) sepia(55%) saturate(620%) hue-rotate(54deg) brightness(105%) contrast(95%);
  --accent-color: #6a9955;
  --accent-color-hover: #577f44;
  --secondary-accent-color: #9c64a6;
  --secondary-accent-color-hover: #7e4f83;
  --menu-button-hover-bg-color: #eaeaea;
  --header-button-hover-bg-color: #1a1a1a;
  --main-button-bg-color: #1a1a1a;
  --main-button-secondary-bg-color: #1a1a1a;
  --main-button-hover-bg-color: #1a1a1a;
  --main-button-secondary-hover-bg-color: #1a1a1a;
}

html.light {
  --bg-color: #f5f5f5;
  --header-bg-color: #e0e0e0;
  --menu-bg-color: #ffffff;
  --main-bg-color: #e0e0e0;
  --footer-bg-color: #e0e0e0;
  --menu-projects-bg-color: #e0e0e0;
  --modal-bg-color: #e0e0e0;
  --modal-screen-bg-color: rgba(255, 255, 255, 0.7);
  --task-bg-color: #e0e0e0;
  --task-bg-color-hover: #d0d0d0;
  --project-bg-color: #e0e0e0;
  --project-bg-color-hover: #d0d0d0;
  --note-bg-color: #e0e0e0;
  --note-bg-color-hover: #d0d0d0;
  --checklist-bg-color: #e0e0e0;
  --checklist-bg-color-hover: #d0d0d0;
  --description-bg-color: #e0e0e0;
  --description-bg-color-hover: #d0d0d0;
  --secondary-bg-color: #cecece;
  --text-color: #333;
  --inverted-text-color: #f5f5f5;
  --menu-text-color: #333;
  --faded-text-color: #666;
  --inverted-svg-color: invert(100%) sepia(1%) saturate(3%) hue-rotate(326deg) brightness(97%) contrast(104%);
  --svg-color: invert(0%) sepia(37%) saturate(1%) hue-rotate(290deg) brightness(112%) contrast(101%);
  --svg-hover-color: invert(42%) sepia(55%) saturate(620%) hue-rotate(54deg) brightness(105%) contrast(95%);
  --accent-color: #6a9955;
  --accent-color-hover: #577f44;
  --secondary-accent-color: #9c64a6;
  --secondary-accent-color-hover: #7e4f83;
  --menu-button-hover-bg-color: #d0d0d0;
  --header-button-hover-bg-color: #d0d0d0;
  --main-button-bg-color: #d0d0d0;
  --main-button-secondary-bg-color: #d0d0d0;
  --main-button-hover-bg-color: #c0c0c0;
  --main-button-secondary-hover-bg-color: #c0c0c0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  filter: var(--svg-color);
}