header{
    background-color: var(--header-bg-color);
    padding: 1rem 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
#header-logo {
    width: 150px;
    filter: var(--svg-color);
}

/* Header Buttons */
#header-buttons-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

.header-button {
    width: 40px;
    filter: var(--svg-color);
}

.hidden-theme-button {
    display: none;
}

#menu-header-icon {
    display: none;
}