#header-logo {
    font-size: 2.4rem;
    font-weight: 700;
    white-space: nowrap;
    color: var(--logo-color);
    text-align: center;
    letter-spacing: 1px;
}

#header-buttons {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}

.header-button {
    width: 40px;
    filter: var(--svg-color);
}