/* Container */
#container {
  display: grid;
  grid-template-areas: 
    "aside header"
    "aside main"
    "aside footer";
  height: 100%;
  width: 100%;
  transition: grid-template-columns 0.5s ease;
}

.menu-open {
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
}

.menu-close {
  grid-template-columns: 80px minmax(80%, 1fr);
  grid-template-rows: auto 1fr auto;
}

/* Header */
header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Menu */
aside {
  grid-area: aside;
}

/* Main */
main {
  grid-area: main;
}

/* Footer */
footer {
  grid-area: footer;
}

.hidden {
  display: none !important;
}