/* Container */
#container {
  display: grid;
  grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer";
  height: 100vh;
  transition: grid-template-columns 0.5s ease;
}

.menu-open {
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
}

.menu-close {
  grid-template-columns: 80px minmax(80%, 1fr);
  grid-template-rows: auto 1fr auto;
}

.text-close {
  display: none;
}

/* Header */
header {
  grid-area: header;
}

/* Menu */
aside {
  grid-area: aside;
}

/* Main */
main {
  grid-area: main;
}

/* Footer */
footer {
  grid-area: footer;
}

