main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    overflow: scroll;
    padding: 15px;
}

.screen {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 95%;
    width: 95%;
    padding: 20px;
}

.screen-hidden {
    display: none;
}