@import './screens-styles/welcome-style.css';

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
    overflow: scroll;
    padding: 15px;
}

.screen {
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 95%;
    width: 95%;
    padding: 30px;
    overflow-y: scroll;
}

.screen-hidden {
    display: none;
}