/* Task List */
.task-list, .screen-projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    white-space: nowrap;
}

/* Task body */
.task-body, .project-body {
    display: grid;
    grid-template-columns: 20% 30% 1fr 10%;
    gap: 10px;
    background-color: var(--task-bg-color);
    border-radius: 10px;
    height: 100px;
    overflow: scroll;
    align-items: center;
    padding: 0 20px;
    min-width: 1000px;
}

/* Task header */
.task-header {
    grid-column: 1;
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 90px;
}

.task-header h3 {
    font-size: 2.4rem;
}

.task-header p {
    font-size: 0.8rem;
}

/* Task stats */
.task-stats {
    grid-column: 2;
    display: grid;
    grid-template-areas: 'project priority' 'description description' 'description description' 'description description';
    height: 90px;
}

/* Task actions */
.task-actions {
    grid-column: 3;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Task buttons */
.task-buttons {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 90px;
}

/* Task stat */
.task-stat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.description-stat {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-self: start;
}

/* Task stats title */
.task-stat-title {
    font-weight: bold;
}

/* Edit task button */
.edit-task-button {
    background-color: #007BFF;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.edit-task-button:hover {
    background-color: #0056b3;
}

/* Complete task button */
.complete-task-button {
    background-color: #28A745;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.complete-task-button:hover {
    background-color: #1e7e34;
}